backend/venv/
backend/.env
**/__pycache__/
*.pyc
.vscode/
frontend/node_modules/
frontend/dist/
backend/logs/
frontend/.env
"running command.txt"
firmware/.pio/
firmware/.pio-venv/
firmware/.pio-venv/
firmware/.pio/
